/* Uncomment this block for a web app with full screen height and width. */

/* body, html {
  height: 100%;
}

body {
  margin: 0;
}

#root {
  height: 100%;
} */

body {
  font-family: Calibri, 'Helvetica Neue', Arial, sans-serif;
}

.error-message {
  font-size: 75%;
  opacity: 0.4;
}

.playground {
  background-color: #eee;
  border: solid 1px #999;
  border-radius: 2px;
  box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.1);
  padding: 0.6em;
  zoom: 2;
}

.form-input {
  margin-right: .4em;
}

kbd {
  background-color: #f7f7f7;
  border: solid 1px #ccc;
  border-radius: 0.2em;
  padding: 0.1em 0.2em;
}

input {
  font-family: inherit;
  font-size: inherit;
}

.expectation {
  align-items: first baseline;
  display: flex;
  gap: 0.2em;
  user-select: none;
}

.expectation__badge {
  background-color: #eee;
  font-size: 90%;
  padding: 0 0.2em 0.1em;
}

.expectation--checked .expectation__badge {
  background-color: lightgreen;
}

.expectation__checkbox {
  position: relative;
  top: .12em;
}
